server:
  port: 8080

spring:
  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true

  datasource:
    url: jdbc:mysql://localhost:3306/upload_file
    username: upload_file_user
    password: upload_file_pw
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always

app:
  domain:
    origins: http://localhost:5173