server:
  port: 8080

spring:
  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true

app:
  domain:
    cors-origins: http://localhost:5173,https://file-extension-test.vercel.app